/.idea/*
/configs/autoload/local.php
/public/uploads/*
/ueditor/php/upload/image/
/public/logs
/public/test.php
/library/CGJ/Service/Weixin/access_token.json
/library/CGJ/Service/Weixin/token.json
/library/CGJ/Service/Weixin/jsapi_ticket.json