/.idea/*
/configs/autoload/local.php
/public/uploads/*
/public/ueditor/php/upload/image/*
/public/logs
/library/CGJ/Service/Weixin/access_token.json
/library/CGJ/Service/Weixin/token.json
/library/CGJ/Service/Weixin/jsapi_ticket.json