.kp_main{background: #fff;  overflow: hidden;font-size: 16px; color: #333}
.ty_main01{background: #a9a8a3; color: #fff ; line-height: 38px; padding-left: 20px}
.ty_main02{overflow: hidden; padding-top:20px; padding-bottom: 20px}
.ty_left{ width:390px; height: 414px ; margin-right: 19px; float: left;}
.ty_left img{ width: 100%; height: 100%; }
.ty_center{ float: left;width: 450px;margin-right: 19px;}
.ty_right{ float: right;width: 320px; border:1px solid #871c22;     height: 414px;}
.ty_new{ width: 88px;height: 27px;line-height: 27px; display: inline-block; background:#871c22; color: #fff; text-align: center; margin-right: 14px }
.ty_col{ color:#871c22; display: inline-block; width:36px;text-align: center; font-size: 24px}
.ty_title{ height: 80px;overflow: hidden; padding-top: 20px;font-size: 26px; color: #000; padding-left: 10px}
.ty_price{border-bottom: 1px dashed #cbcbcb;padding: 10px}
.ty_price1{ width: 222px; display: inline-block;}
.ty_price2{ font-size: 30px; color: #861d22; font-weight: bold;}
.ty_col1{color:#871c22;font-weight: bold;}
.ty_cont{ height: 100px; line-height: 30px; overflow: hidden; padding-top:6px;}
.ty_hek{ overflow: hidden; margin-top: 10px}
.ty_hekl{ float: left;}
.ty_hekr{ float: right; width: 120px;height: 64px; font-size: 24px; color: #fff; text-align: center;line-height: 64px; background: #871c22}
.ty_lxkf{ width: 96px; height: 26px; text-align: center; line-height: 26px; background: #f08000; color: #fff; border-radius: 6px; cursor: pointer;}
.ty_lxkf2{background:url(../images/s_03.jpg) no-repeat left center; padding-left: 32px; width:90px; display: inline-block; float: left; }

.ty_num{ width: 64px; height: 26px; display: inline-block;  line-height: 26px;

}
.ty_jh{ height: 16px; width:36px ; border: 1px solid #c4c4c4;}
.ty_jh1{height: 16px; width:16px ; border: 1px solid #c4c4c4;border-left:0px; margin-top: 5px; display: inline-block; text-align: center;margin-left: 0px}
.ty_lef{margin-left: -4px; cursor: pointer;overflow: hidden;}

.ty_cjjl{ background:#861d22 ; padding-left: 20px; line-height: 26px; color: #fff}
.ty_tabletr{ line-height: 36px; background: #f8f8f8}
.ty_tabletd{line-height: 30px;}
.ty_main03{ height: 40px;line-height: 40px; overflow: hidden; background: #5d5f5c}
.ty_main03 ul li{ float: left; display: inline-block; text-align: center; width: 148px; border-right: 1px solid #5c5e5b; background: #c2c0c3}
.ty_act{background: #231816 !important; color: #f18200 !important}
.ty_main04{ height: 56px; line-height: 56px; border-bottom:1px solid #adadad;}
.ty_main04 ul li{ float: left;}
.ty_01{ padding-right: 30px; margin-left: 10px}
.ty_02{}
.ty_03 img{    margin-top: 20px;}
.ty_main05{ margin-top: 20px; overflow: hidden;}
.ty_zzleft{ float: left; width: 304px; height: 348px; margin-right: 40px}
.ty_zzleft img{ width: 100%; height: 100%}
.ty_zzcenter{ float: left;width: 539px;height: 348px; position: relative;}
.ty_zzright{ float: right; }
.ty_zzcenter ul{ position: absolute;bottom: 0px}
.ty_zzcenter ul li{ border-bottom: 1px dashed #cbcbcb; line-height: 110px;}
.ty_aut{ font-size: 36px; font-weight: bold;}
.ty_aut1{ margin-left: 10px}
.ty_grjl{width: 171px; height: 34px; line-height: 34px; text-align: center;display: inline-block; background: #820000; color: #fff; margin-right: 8px}
.ty_main06{ background: #f8f4e9; padding: 20px; width: 842px; margin-top: 30px}
.ty_jianjie1{ line-height: 28px; margin-top: 10px;text-indent:2rem;}
.ty_main07{  width: 882px; height: 463px;margin-top: 10px}
.ty_main07 img{ width: 100%; height: 100%}
.ty_main08{width: 842px;overflow: hidden; background: #5d5f5c; color: #fff;margin-top: 10px; padding: 20px}
.ty_hjiang{ font-size: 22px}
.ty_hjiang1{ font-size: 20px; margin-top: 30px}
.ty_hjiang2 li{ line-height: 28px;list-style-type :disc  ;margin-left: 20px}
.ty_main09{ line-height: 38px; background: #f7f7f7;width: 842px;overflow: hidden; padding-left:20px ;padding-right: 20px}
.ty_main10{width: 882px;}
.ty_main10 ul li{ float: left; margin-top: 30px; margin-left: 15px; display: inline-block;text-align: center; height: 278px; width: 205px; text-align: center;}
.ty_main10 ul li img{ max-width: 205px; max-height:200px }
.ty_addnum{ width: 64px; height: 28px; border:1px solid #c7c7c7; float: right; margin-left: 8px}
.ty_addnum input{ border:0px; width: 32px; display: inline-block; float: left; height: 26px}
.ty_addnum button{ float: left; width: 30px; height: 28px; border: 0px; border-left:1px solid #c7c7c7; cursor: pointer;}
.ty_lxkf1{margin-top: 8px; line-height: 28px}
.ty_aa{ float: right; margin-left: 4px}
