<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>已购拍品</title>
  <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <div class="toper">
    <div class="center">
        <div class="mlinknav">
            <a ui-sref="main">开拍网首页</a>
        </div>
        <div class="uinfonav"  ng-if="hasLogin">
            <div id="logorout">
                <span>您好!</span>
                <div class="user_name">
                    <a class="nameA" ui-sref="indexPersonal"  ng-bind="nickName"></a>
                    <div id="toperNav">
                        <a ui-sref="listOrderPersonal" >我的订单</a>
                        <a ui-sref="collectionAuctionlistPersonal" >我的收藏</a>
                        <a  ui-sref="mybalanceCustomerPersonal" >我的余额</a>
                        <a ui-sref="feedbackListPersonal" >意见反馈</a>
                        <a href="javascript:" ng-click="loginOut()">安全退出</a>
                    </div>
                </div>

            </div>

            <a class="footprint" href="">收藏本站</a>

        </div>

        <div class="uinfonav" ng-if="!hasLogin">
            <span id="logorout" style="font-size:14px">
                <a class="register" rel="nofollow" ui-sref="userRegister">免费注册</a>
                <a target="_self" rel="nofollow" ui-sref="userLogin">用户登录</a>
               <!-- <a href="#">商家中心</a> -->
         
        </span>
        |
        <a class="footprint" href="">收藏本站</a>
    </div>

</div>
</div>
<div class="header">
<div class="center">
    <a href="#" class="logonav">
        <img src="images/logo.png" />
    </a>
    <div class="searchnav">
        <form style=" height:35px;" action="/paimai/search/all/">
            <input type="text" class="ipt" name="t" id="txtKw" value="输入关键词/名称" />
            <a href="javascript:;" class="btn paimaisearchbtn">搜索</a>
        </form>
        <div class="hotlink">
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
        </div>
    </div>
</div>
</div>
<div class="menuer">
<div class="center">
    <div class="mlist">
        <a ui-sref="main" >首页</a>
        <a ui-sref="goodList" >所有自由拍</a>
        |
        <a ui-sref="goodList" >国画</a>
        ·
        <a ui-sref="goodList" >书法</a>
        ·
        <a ui-sref="goodList" >金石篆刻</a>
        ·
        <a ui-sref="goodList" >古玩杂项</a>
        ·
        <a ui-sref="goodList" >古典陶瓷</a>
        ·
        <a ui-sref="goodList" >宗教文化</a>
        ·
        <a ui-sref="goodList" >西画雕塑</a>
        ·
        <a ui-sref="goodList" >奢侈品</a>
        ·
        <a ui-sref="goodList" >宝石翡翠</a>
    </div>
</div>
</div>
<!--End头部-->
<!--main开始-->
<div class="kp_main">
    <div class="center " >
       <!-- left部分 -->
       <div class="kp_left">
          <div class="kp_biaot">
              <p class="kp_p">我是买家</p>
              <ul class="kp_ul mt10">
                <a href="正在竞拍.html"><li>正在竞拍</li></a>
                <a href="已购拍品.html"><li class="kp_checked">已购拍品</li></a>
                <a href="关注拍品.html"><li>关注拍品</li></a>
                <a href="关注商家.html"><li>关注商家</li></a>
                <a href=""><li>买家须知</li></a>
              </ul>
          </div>
          <div class="kp_biaot">
              <p class="kp_p kpdh2" >我是商家</p>
              <ul class="kp_ul mt10">
                <a href="发布拍品.html"><li>发布拍品</li></a>
                <a href="拍品仓库.html"><li >拍品仓库</li></a>
                <a href="管理专场.html"><li>管理专场</li></a>
                <a href="已售拍品.html"><li >已售拍品</li></a>
                <a href="商家设置.html"><li >商家设置</li></a>
                <a href="认证流程.html"><li>认证流程</li></a>
              </ul>
          </div>
       </div>
       <!-- right部分 -->
       <div class="kp_right ys_btom">
         <div class="yg_pp">
            <div class="yc_pm41">
                <span class="yc_pm1n">[订单号] 132346456132123435</span>
                <span class="yc_pm2">开源拍卖</span>
                <span class="yc_pm3 lxmj1 "><a href="">联系卖家</a></span>
                <span class="yc_pm44"><a href="">成交时间</a></span>
            </div> 
            <div class="yg_ppname">
               <div class="yg_ppname_left"><img src=""></div>
               <div class="yg_ppname_right">
                   <div class="yg_ppname_right1">
                       <div  class="yg_ppname1"><p>西泠印社  李平《妙造自然》</p><p>中国美院书法学博士</p></div>
                       <div  class="yg_ppname2">2015-12-10<br> 22:00</div>
                   </div>
                   <div class="yg_ppname3">成交价：5000元  运费：0元  佣金：250元</div>
               </div>
            </div>
            <div class="yg_addres">
               <div class="yg_addres_left">
                 <div class="yg_addres_left1"><input name="address" type="radio"  class="ind_checkbox"/></div>
                 <div class="yg_addres_left2">
                    <p class="yg_sjr">收货人：张三 13588838833</p>
                    <p class="yg_sjr">收货地址：浙江省 杭州市 下城区 朝晖路179号嘉惠大厦2-5-5（310000）</p>
                 </div>
               </div>
               <div class="yg_addres_right">
                  <div><a href="">编辑</a></div>
                   <div><a href="">删除</a></div>
               </div>
            </div>
            <div class="yg_addres">
               <div class="yg_addres_left">
                 <div class="yg_addres_left1"><input name="address" type="radio"  class="ind_checkbox"/></div>
                 <div class="yg_addres_left2">
                    <p class="yg_sjr">收货人：张三 13588838833</p>
                    <p class="yg_sjr">收货地址：浙江省 杭州市 下城区 朝晖路179号嘉惠大厦2-5-5（310000）</p>
                 </div>
               </div>
               <div class="yg_addres_right">
                  <div><a href="">编辑</a></div>
                   <div><a href="">删除</a></div>
               </div>
            </div>

            <div class="yg_addresbtn">添加新地址</div>
            <div class="yg_bz">
              <div class="yc_ly">留言备注 </div><textarea ></textarea>
            </div>
            <div class="yg_fk">
               付款金额 5000.00  <span class="yg_sfmoney1">实付金额</span><span class="yg_sfmoney">4750.00</span>
            </div>
            <div class="yg_zf">
              <ul>
                <li><img src="images/logoicon.png">余额支付</li>
                <li><img src="images/vb_05.png">支付宝</li>
                <li class="acted"><img src="images/vb_07.png">微信钱宝</li>
                <li><img src="images/vb_20.png">银行汇款</li>
                <li><img src="images/vb_21.png">银联支付</li>
              </ul>
            </div>

   
        </div>
        <div class="yg_qrzf">
         <a href=""><span class="yg_qrzf1"> 确认支付</span></a>
         <a href=""><span class="yg_qrzf2"> 稍后付款</span></a>
          
        </div>



          



            
            
       </div>

       
    </div>
</div>



<!-- bottom 开始 -->
<div class="botNav">
    <div class="center">
        <div class="botnav-item botnav-item1">
            <h4>
                <span>诚实信用</span>
                <em>对拍品的如实描述，卖家的承诺服务</em>
            </h4>
            <dl>
                <dt>竞买者保障</dt>
                <dd><a href="#">·关于拍品</a></dd>
                <dd><a href="#">·关于拍卖</a></dd>
                <dd><a href="#">·关于售后</a></dd>
                <dd><a href="#">·其它保障</a></dd>

            </dl>
        </div>
        <div class="erweima fl">
            <p>开拍网公众号</p>
            <span>“开拍网”</span>
        </div>
        <div class="botnav-item botnav-item2">
            <h4>
                <span>双向交流</span>
                <em>专业服务，阳光竞拍</em>
            </h4>
            <dl>
                <dt>个人 | 商家入驻</dt>
                <dd><a href="#">·入驻规则</a></dd>
                <dd><a href="#">·保证金问题</a></dd>
                <dd><a href="#">·诚信问题</a></dd>
                <dd><a href="#">·其它</a></dd>

            </dl>
        </div>
        <div class="botnav-item botnav-item3">
            <h4>
                <span>售后无忧</span>
                <em>明白承诺，周到服务</em>
            </h4>
            <dl>
                <dt>关于我们</dt>
                <dd><a href="#">·免责声明</a></dd>
                <dd><a href="#">·版权声明</a></dd>
                <dd><a href="#">·联系我们</a></dd>
                <dd><a href="#">·关于开拍</a></dd>

            </dl>
        </div>
    </div>
</div>
<div class="footer">

    <div class="footernav center">
        <a href="#">首页</a><em>|</em>
        <a href="#">国画</a><em>|</em>
        <a href="#">书法</a><em>|</em>
        <a href="#">金石篆刻</a><em>|</em>
        <a href="#">古玩杂项</a><em>|</em>
        <a href="#">古典陶瓷</a><em>|</em>
        <a href="#">西画雕塑</a><em>|</em>
        <a href="#">宗教文化</a><em>|</em>
        <a href="#">奢侈品</a><em>|</em>
        <a href="#">宝石翡翠</a><em>|</em>
        <a href="#">联系我们</a>
        <p>
            公司地址: 浙江省杭州市下城区朝晖路179号嘉汇大厦2号楼5层  电话: 0571-85819321 18867538398   邮箱: kaipai123@sina.com<br>
版权所有 © 杭州易开拍网络科技有限公司  浙ICP备13004819号-1   网址: www.kaipai123.com
        </p>
    </div>
</div>

</body>
</html>