<meta charset="utf-8">
<title>标题</title>
<script src="jquery.js"></script>
<link rel="stylesheet" href="style/common.css">
<script type="text/javascript" src="js/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="js/default.js"></script>

<link rel="stylesheet" href="style/jquery.wysiwyg.css">
<link rel="stylesheet" href="style/default.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="style/style.css">
</head>
<body>
<script type="text/javascript">
$(function(){
  //alert(1);

  $('#qqq').wysiwyg({
        controls:"bold,italic,|,undo,redo,image"
      });
})
</script>
<script type="text/javascript">
    //图片上传预览    IE是用了滤镜。
        function previewImage2(file)
        {
          var MAXWIDTH  = 260; 
          var MAXHEIGHT = 180;
          var div = document.getElementById('preview2');
          if (file.files && file.files[0])
          {
              div.innerHTML ='<img id=imghead>';
              var img = document.getElementById('imghead');
              img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
              }
              var reader = new FileReader();
              reader.onload = function(evt){img.src = evt.target.result;}
              reader.readAsDataURL(file.files[0]);
          }
          else //兼容IE
          {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=imghead>';
            var img = document.getElementById('imghead');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;"+sFilter+src+"\"'></div>";
          }
        } 

                //图片上传预览    IE是用了滤镜。
        function previewImage(file)
        {
          var MAXWIDTH  = 260; 
          var MAXHEIGHT = 180;
          var div = document.getElementById('preview');
          if (file.files && file.files[0])
          {
              div.innerHTML ='<img id=imghead>';
              var img = document.getElementById('imghead');
              img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
              }
              var reader = new FileReader();
              reader.onload = function(evt){img.src = evt.target.result;}
              reader.readAsDataURL(file.files[0]);
          }
          else //兼容IE
          {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=imghead>';
            var img = document.getElementById('imghead');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;"+sFilter+src+"\"'></div>";
          }
        }
        //图片上传预览    IE是用了滤镜。
        function previewImage1(file)
        {
          var MAXWIDTH  = 260; 
          var MAXHEIGHT = 180;
          var div = document.getElementById('preview1');
          if (file.files && file.files[0])
          {
              div.innerHTML ='<img id=imghead>';
              var img = document.getElementById('imghead');
              img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
              }
              var reader = new FileReader();
              reader.onload = function(evt){img.src = evt.target.result;}
              reader.readAsDataURL(file.files[0]);
          }
          else //兼容IE
          {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=imghead>';
            var img = document.getElementById('imghead');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;"+sFilter+src+"\"'></div>";
          }
        }
      
        function clacImgZoomParam( maxWidth, maxHeight, width, height ){
            var param = {top:0, left:0, width:width, height:height};
            if( width>maxWidth || height>maxHeight )
            {
                rateWidth = width / maxWidth;
                rateHeight = height / maxHeight;
                 
                if( rateWidth > rateHeight )
                {
                    param.width =  maxWidth;
                    param.height = Math.round(height / rateWidth);
                }else
                {
                    param.width = Math.round(width / rateHeight);
                    param.height = maxHeight;
                }
            }
             
            param.left = Math.round((maxWidth - param.width) / 2);
            param.top = Math.round((maxHeight - param.height) / 2);
            return param;
        }
</script>   
<body>
  <div class="toper">
    <div class="center">
        <div class="mlinknav">
            <a ui-sref="main">开拍网首页</a>
        </div>
        <div class="uinfonav"  ng-if="hasLogin">
            <div id="logorout">
                <span>您好!</span>
                <div class="user_name">
                    <a class="nameA" ui-sref="indexPersonal"  ng-bind="nickName"></a>
                    <div id="toperNav">
                        <a ui-sref="listOrderPersonal" >我的订单</a>
                        <a ui-sref="collectionAuctionlistPersonal" >我的收藏</a>
                        <a  ui-sref="mybalanceCustomerPersonal" >我的余额</a>
                        <a ui-sref="feedbackListPersonal" >意见反馈</a>
                        <a href="javascript:" ng-click="loginOut()">安全退出</a>
                    </div>
                </div>

            </div>

            <a class="footprint" href="">收藏本站</a>

        </div>

        <div class="uinfonav" ng-if="!hasLogin">
            <span id="logorout" style="font-size:14px">
                <a class="register" rel="nofollow" ui-sref="userRegister">免费注册</a>
                <a target="_self" rel="nofollow" ui-sref="userLogin">用户登录</a>
               <!-- <a href="#">商家中心</a> -->
         
        </span>
        |
        <a class="footprint" href="">收藏本站</a>
    </div>

</div>
</div>
<div class="header">
<div class="center">
    <a href="#" class="logonav">
        <img src="images/logo.png" />
    </a>
    <div class="searchnav">
        <form style=" height:35px;" action="/paimai/search/all/">
            <input type="text" class="ipt" name="t" id="txtKw" value="输入关键词/名称" />
            <a href="javascript:;" class="btn paimaisearchbtn">搜索</a>
        </form>
        <div class="hotlink">
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
        </div>
    </div>
</div>
</div>
<div class="menuer">
<div class="center">
    <div class="mlist">
        <a ui-sref="main" >首页</a>
        <a ui-sref="goodList" >所有自由拍</a>
        |
        <a ui-sref="goodList" >国画</a>
        ·
        <a ui-sref="goodList" >书法</a>
        ·
        <a ui-sref="goodList" >金石篆刻</a>
        ·
        <a ui-sref="goodList" >古玩杂项</a>
        ·
        <a ui-sref="goodList" >古典陶瓷</a>
        ·
        <a ui-sref="goodList" >宗教文化</a>
        ·
        <a ui-sref="goodList" >西画雕塑</a>
        ·
        <a ui-sref="goodList" >奢侈品</a>
        ·
        <a ui-sref="goodList" >宝石翡翠</a>
    </div>
</div>
</div>
<!--End头部-->
<!--main开始-->
<div class="kp_main">
    <div class="center " >
       <!-- left部分 -->
       <div class="kp_left">
          <div class="kp_biaot">
              <p class="kp_p">我是买家</p>
              <ul class="kp_ul mt10">
                <a href=""><li>我是买家</li></a>
                <a href=""><li>我是买家</li></a>
                <a href=""><li>我是买家</li></a>
                <a href=""><li>我是买家</li></a>
                <a href=""><li>我是买家</li></a>
              </ul>
          </div>
          <div class="kp_biaot">
              <p class="kp_p kpdh2" >我是买家</p>
              <ul class="kp_ul mt10">
                <a href="fbPaiPin.html"><li>发布拍品</li></a>
                <a href="ppChangKu.html"><li >拍品仓库</li></a>
                <a href="glzhuanchang.html"><li>管理专场</li></a>
                <a href="ysPaiPin.html"><li>已售拍品</li></a>
                <a href="sjSheZhi.html"><li class="kp_checked">商家设置</li></a>
                <a href="index.html"><li>认证流程</li></a>
              </ul>
          </div>
       </div>
       <!-- right部分 -->
       <div class="kp_right">

           <div class="mt20">
                    <div class="ind_jrzz bold">店铺标志</div> 
                    <div id="preview" class="dianpbai"><img src="images/img_03.jpg"></div>
                    <span><input type="file" onchange="previewImage(this)" /> </span>
           </div>
           <div class="mt20">
                    <div class="ind_jrzz bold">店铺抬头</div> 
                    <div id="preview1" class="dianpbai1"><img src="images/img_06.jpg"></div>
                    <span><input type="file" onchange="previewImage1(this)" /> </span>
           </div>
           <div class="mt20">
                    <span class="ind_jrzz bold">店铺签名</span> 
                    <input class="zz_inputqm" type="text" placeholder="" >
                    <br> <span class="ind_jrzz"></span> *限35字以内，显示在店铺名称下方   
           </div>
           <div class="mt20">
                    <div class="ind_jrzz bold">店铺推荐<br>栏位底图</div> 
                    <div id="preview2" class="dianpbai1"><img src="images/img_06.jpg"></div>
                    <span><input type="file" onchange="previewImage2(this)" /> </span>
           </div>
           <div class="mt20">
                    <div class="ind_jrzz bold">拍品分类</div> <select class="ind_dp1">
                      <option value="volvo">分类一</option>
                      <option value="saab">2014</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
                    <select class="ind_dp1">
                      <option value="volvo">分类二</option>
                      <option value="saab">2014</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
                    <a href=""><span class="ind_jia"> &nbsp</span></a>
                    <span class="ind_jia1"><a href="">编辑 >></a></span>
                    
           </div>
           <div class="mt20  ycsd">
                    <span class="ind_jrzz bold" style="float:left">店铺自诉</span> 
                    <div> <span class="ind_fbxx">发布须知</span><span>不得发布反动，暴恐，色情信息</span></div>
                  
           </div>
            <div class="mt20  ycsd">
                    <span class="ind_jrzz" style="float:left"> &nbsp</span>
                    <div style="width:540px; background:#fff; float:left">

                      <textarea id="qqq" >
                      </textarea>
                    </div>  
           </div>

           <div class="ind_licj">确认提交</div>


           
           
       </div>

       
    </div>
</div>



<!-- bottom 开始 -->
<div class="botNav">
    <div class="center">
        <div class="botnav-item botnav-item1">
            <h4>
                <span>诚实信用</span>
                <em>对拍品的如实描述，卖家的承诺服务</em>
            </h4>
            <dl>
                <dt>竞买者保障</dt>
                <dd><a href="#">·关于拍品</a></dd>
                <dd><a href="#">·关于拍卖</a></dd>
                <dd><a href="#">·关于售后</a></dd>
                <dd><a href="#">·其它保障</a></dd>

            </dl>
        </div>
        <div class="erweima fl">
            <p>开拍网公众号</p>
            <span>“开拍网”</span>
        </div>
        <div class="botnav-item botnav-item2">
            <h4>
                <span>双向交流</span>
                <em>专业服务，阳光竞拍</em>
            </h4>
            <dl>
                <dt>个人 | 商家入驻</dt>
                <dd><a href="#">·入驻规则</a></dd>
                <dd><a href="#">·保证金问题</a></dd>
                <dd><a href="#">·诚信问题</a></dd>
                <dd><a href="#">·其它</a></dd>

            </dl>
        </div>
        <div class="botnav-item botnav-item3">
            <h4>
                <span>售后无忧</span>
                <em>明白承诺，周到服务</em>
            </h4>
            <dl>
                <dt>关于我们</dt>
                <dd><a href="#">·免责声明</a></dd>
                <dd><a href="#">·版权声明</a></dd>
                <dd><a href="#">·联系我们</a></dd>
                <dd><a href="#">·关于开拍</a></dd>

            </dl>
        </div>
    </div>
</div>
<div class="footer">

    <div class="footernav center">
        <a href="#">首页</a><em>|</em>
        <a href="#">国画</a><em>|</em>
        <a href="#">书法</a><em>|</em>
        <a href="#">金石篆刻</a><em>|</em>
        <a href="#">古玩杂项</a><em>|</em>
        <a href="#">古典陶瓷</a><em>|</em>
        <a href="#">西画雕塑</a><em>|</em>
        <a href="#">宗教文化</a><em>|</em>
        <a href="#">奢侈品</a><em>|</em>
        <a href="#">宝石翡翠</a><em>|</em>
        <a href="#">联系我们</a>
        <p>
            公司地址: 浙江省杭州市下城区朝晖路179号嘉汇大厦2号楼5层  电话: 0571-85819321 18867538398   邮箱: kaipai123@sina.com<br>
版权所有 © 杭州易开拍网络科技有限公司  浙ICP备13004819号-1   网址: www.kaipai123.com
        </p>
    </div>
</div>

</body>
</html>