<meta charset="utf-8">
<title>创建专场</title>
<script src="jquery.js"></script>
<link rel="stylesheet" href="style/common.css">
<script type="text/javascript" src="js/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="js/default.js"></script>

<link rel="stylesheet" href="style/jquery.wysiwyg.css">
<link rel="stylesheet" href="style/default.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="style/style.css">
</head>
<script type="text/javascript">
$(function(){
  //alert(1);

  $('#qqq').wysiwyg({
        controls:"bold,italic,|,undo,redo,image"
      });
})
</script>
<body>
  <div class="toper">
    <div class="center">
        <div class="mlinknav">
            <a ui-sref="main">开拍网首页</a>
        </div>
        <div class="uinfonav"  ng-if="hasLogin">
            <div id="logorout">
                <span>您好!</span>
                <div class="user_name">
                    <a class="nameA" ui-sref="indexPersonal"  ng-bind="nickName"></a>
                    <div id="toperNav">
                        <a ui-sref="listOrderPersonal" >我的订单</a>
                        <a ui-sref="collectionAuctionlistPersonal" >我的收藏</a>
                        <a  ui-sref="mybalanceCustomerPersonal" >我的余额</a>
                        <a ui-sref="feedbackListPersonal" >意见反馈</a>
                        <a href="javascript:" ng-click="loginOut()">安全退出</a>
                    </div>
                </div>

            </div>

            <a class="footprint" href="">收藏本站</a>

        </div>

        <div class="uinfonav" ng-if="!hasLogin">
            <span id="logorout" style="font-size:14px">
                <a class="register" rel="nofollow" ui-sref="userRegister">免费注册</a>
                <a target="_self" rel="nofollow" ui-sref="userLogin">用户登录</a>
               <!-- <a href="#">商家中心</a> -->
         
        </span>
        |
        <a class="footprint" href="">收藏本站</a>
    </div>

</div>
</div>
<div class="header">
<div class="center">
    <a href="#" class="logonav">
        <img src="images/logo.png" />
    </a>
    <div class="searchnav">
        <form style=" height:35px;" action="/paimai/search/all/">
            <input type="text" class="ipt" name="t" id="txtKw" value="输入关键词/名称" />
            <a href="javascript:;" class="btn paimaisearchbtn">搜索</a>
        </form>
        <div class="hotlink">
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
            <a href="#" >和田玉</a>
        </div>
    </div>
</div>
</div>
<div class="menuer">
<div class="center">
    <div class="mlist">
        <a ui-sref="main" >首页</a>
        <a ui-sref="goodList" >所有自由拍</a>
        |
        <a ui-sref="goodList" >国画</a>
        ·
        <a ui-sref="goodList" >书法</a>
        ·
        <a ui-sref="goodList" >金石篆刻</a>
        ·
        <a ui-sref="goodList" >古玩杂项</a>
        ·
        <a ui-sref="goodList" >古典陶瓷</a>
        ·
        <a ui-sref="goodList" >宗教文化</a>
        ·
        <a ui-sref="goodList" >西画雕塑</a>
        ·
        <a ui-sref="goodList" >奢侈品</a>
        ·
        <a ui-sref="goodList" >宝石翡翠</a>
    </div>
</div>
</div>
<!--End头部-->
<!--main开始-->
<div class="kp_main">
    <div class="center " >
       <!-- left部分 -->
       <div class="kp_left">
          <div class="kp_biaot">
              <p class="kp_p">我是买家</p>
              <ul class="kp_ul mt10">
                <a href="正在竞拍.html"><li>正在竞拍</li></a>
                <a href="已购拍品.html"><li>已购拍品</li></a>
                <a href="关注拍品.html"><li>关注拍品</li></a>
                <a href="关注商家.html"><li>关注商家</li></a>
                <a href=""><li>买家须知</li></a>
              </ul>
          </div>
          <div class="kp_biaot">
              <p class="kp_p kpdh2" >我是商家</p>
              <ul class="kp_ul mt10">
                <a href="发布拍品.html"><li>发布拍品</li></a>
                <a href="拍品仓库.html"><li >拍品仓库</li></a>
                <a href="管理专场.html"><li>管理专场</li></a>
                <a href="已售拍品.html"><li class="kp_checked">已售拍品</li></a>
                <a href="商家设置.html"><li >商家设置</li></a>
                <a href="认证流程.html"><li>认证流程</li></a>
              </ul>
          </div>
       </div>
       <!-- right部分 -->
       <div class="kp_right">
           <div>
             <span class="gl_cjzc"><a href="">创建专场 +</a></span>
           </div>
            
           <!-- 定时上架 -->
           <div class="ind_jrzc  ">
                <div class="kp_timeon">
                   <span class="bold">拍卖时间</span>
                   <select class="kp_year">
                      <option value ="volvo">2015</option>
                      <option value ="saab">2014</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
                    <span class="kp_ml8">年</span>
                    <select class="kp_ml9">
                      <option value ="volvo">12</option>
                      <option value ="saab">11</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
                    <span class="kp_ml8">月</span>
                    <select class="kp_ml9">
                      <option value ="volvo">31</option>
                      <option value ="saab">30</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
                    <span class="kp_ml8">日</span>
                    <span class="kp_ml5"><input class="kp_input" type="text" placeholder="" value="3200"></span>
                    <span class="kp_ml8">时</span>
                    <span class="kp_ml5"><input class="kp_input" type="text" placeholder="" value="3200"></span>
                    <span class="kp_ml8">分</span>
                </div>

                <div class="kp_timeon">
                   <span class="bold">拍卖时间</span>
                   <select class="kp_year">
                      <option value ="volvo">2015</option>
                      <option value ="saab">2014</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
                    <span class="kp_ml8">年</span>
                    <select class="kp_ml9">
                      <option value ="volvo">12</option>
                      <option value ="saab">11</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
                    <span class="kp_ml8">月</span>
                    <select class="kp_ml9">
                      <option value ="volvo">31</option>
                      <option value ="saab">30</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
                    <span class="kp_ml8">日</span>
                    <span class="kp_ml5"><input class="kp_input" type="text" placeholder="" value="3200"></span>
                    <span class="kp_ml8">时</span>
                    <span class="kp_ml5"><input class="kp_input" type="text" placeholder="" value="3200"></span>
                    <span class="kp_ml8">分</span>
                </div>
                <p class="kp_tsinfo1">注：专场拍卖时间固定为日场10:00-22:00，夜场22:00-次日10:00</p>

           </div>
           <div class="mt20">
                    <span class="ind_jrzz bold">所属类目</span> 
                    <select class="ind_dp1">
                      <option value ="volvo">城市</option>
                      <option value ="saab">2014</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
           </div>
           <div class="mt20">
                    <span class="ind_jrzz bold">专场标题</span> 
                    <input class="gl_ppinput" type="text" placeholder="限20字以内" >
           </div>
           <div class="mt20">
                    <span class="ind_jrzz bold">专场海报</span> 
                    <input type="file" name="uploadFile"  class="gl_sctu"/> 尺寸：1900*300 图片容量不大于1M
           </div>
           <div class="mt20">
                    <span class="ind_jrzz bold">专场首焦</span> 
                    <input type="file" name="uploadFile" class="gl_sctu"/> 尺寸：1900*300 图片容量不大于1M
                    
           </div>
           <div class="mt20">
                    <span class="ind_jrzz bold">拍品数量</span> 
                    <input class="mt_input" type="text" placeholder="" > 个  *限制20-60个
           </div>
           <div class="mt20  ycsd">
                    <span class="ind_jrzz" style="float:left"><span class="bold">专场介绍 </span><br> <p class="gl_zyi">注：图片宽度限制860以内</p></span> 
                    <div style="width:540px; background:#fff; float:left">
                      <textarea id="qqq"  >
                      </textarea>
                    </div>  
           </div>
           <div class="ind_licj">立即创建</div>


           
           
       </div>

       
    </div>
</div>



<!-- bottom 开始 -->
<div class="botNav">
    <div class="center">
        <div class="botnav-item botnav-item1">
            <h4>
                <span>诚实信用</span>
                <em>对拍品的如实描述，卖家的承诺服务</em>
            </h4>
            <dl>
                <dt>竞买者保障</dt>
                <dd><a href="#">·关于拍品</a></dd>
                <dd><a href="#">·关于拍卖</a></dd>
                <dd><a href="#">·关于售后</a></dd>
                <dd><a href="#">·其它保障</a></dd>

            </dl>
        </div>
        <div class="erweima fl">
            <p>开拍网公众号</p>
            <span>“开拍网”</span>
        </div>
        <div class="botnav-item botnav-item2">
            <h4>
                <span>双向交流</span>
                <em>专业服务，阳光竞拍</em>
            </h4>
            <dl>
                <dt>个人 | 商家入驻</dt>
                <dd><a href="#">·入驻规则</a></dd>
                <dd><a href="#">·保证金问题</a></dd>
                <dd><a href="#">·诚信问题</a></dd>
                <dd><a href="#">·其它</a></dd>

            </dl>
        </div>
        <div class="botnav-item botnav-item3">
            <h4>
                <span>售后无忧</span>
                <em>明白承诺，周到服务</em>
            </h4>
            <dl>
                <dt>关于我们</dt>
                <dd><a href="#">·免责声明</a></dd>
                <dd><a href="#">·版权声明</a></dd>
                <dd><a href="#">·联系我们</a></dd>
                <dd><a href="#">·关于开拍</a></dd>

            </dl>
        </div>
    </div>
</div>
<div class="footer">

    <div class="footernav center">
        <a href="#">首页</a><em>|</em>
        <a href="#">国画</a><em>|</em>
        <a href="#">书法</a><em>|</em>
        <a href="#">金石篆刻</a><em>|</em>
        <a href="#">古玩杂项</a><em>|</em>
        <a href="#">古典陶瓷</a><em>|</em>
        <a href="#">西画雕塑</a><em>|</em>
        <a href="#">宗教文化</a><em>|</em>
        <a href="#">奢侈品</a><em>|</em>
        <a href="#">宝石翡翠</a><em>|</em>
        <a href="#">联系我们</a>
        <p>
            公司地址: 浙江省杭州市下城区朝晖路179号嘉汇大厦2号楼5层  电话: 0571-85819321 18867538398   邮箱: kaipai123@sina.com<br>
版权所有 © 杭州易开拍网络科技有限公司  浙ICP备13004819号-1   网址: www.kaipai123.com
        </p>
    </div>
</div>

</body>
</html>